version: '3.4'
services:
  nginx:
    image: nginx:mainline-alpine
    ports:
      - '8080:80'
    volumes:
      - ${PWD}/nginx:/etc/nginx/conf.d:ro
      - ${PWD}/mybb:/var/www/html

  mybb:
    build: php7.1/fpm
    volumes:
      - ${PWD}/mybb:/var/www/html

  postgresql:
    image: postgres:10.0-alpine
    environment:
      POSTGRES_DB: mybb
      POSTGRES_USER: mybb
      POSTGRES_PASSWORD: changeme
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 30s
      timeout: 30s
      retries: 3
    volumes:
      - ${PWD}/postgres/data:/var/lib/postgresql/data

  memcached:
    image: memcached:1.5.3-alpine
