version: '3.4'
services:
  nginx:
    image: nginx:mainline-alpine
    depends_on:
      - mybb
    logging:
      driver: syslog
      options:
        tag: "{{.DaemonName}}(image={{.ImageName}};name={{.Name}};id={{.ID}})"
    networks:
      - frontend
    ports:
      - '8080:80'
    restart: on-failure
    volumes:
      - ${PWD}/nginx:/etc/nginx/conf.d:ro
      - ${PWD}/mybb:/var/www/html:ro

  mybb:
    build: php7.1/fpm
    depends_on:
      - memcached
      - mariadb
    logging:
      driver: syslog
      options:
        tag: "{{.DaemonName}}(image={{.ImageName}};name={{.Name}};id={{.ID}})"
    networks:
      - frontend
      - backend
    restart: on-failure
    volumes:
      - ${PWD}/mybb:/var/www/html

  mariadb:
    image: mariadb:10.2
    environment:
      MYSQL_ROOT_PASSWORD: changeme
      MYSQL_DATABASE: mybb
      MYSQL_USER: mybb
      MYSQL_PASSWORD: changeme
    logging:
      driver: syslog
      options:
        tag: "{{.DaemonName}}(image={{.ImageName}};name={{.Name}};id={{.ID}})"
    networks:
      - backend
    restart: on-failure
    volumes:
     - ${PWD}/mariadb:/var/lib/mysql

  memcached:
    image: memcached:1.5.3-alpine
    logging:
      driver: syslog
      options:
        tag: "{{.DaemonName}}(image={{.ImageName}};name={{.Name}};id={{.ID}})"
    networks:
      - backend
    restart: on-failure

  composer:
    image: composer
    restart: 'no'
    volumes:
      - ${PWD}/mybb:/app

networks:
  frontend:
    driver: bridge         
  backend:
    driver: bridge
