version: '3.4'
services:
  nginx:
    image: nginx:mainline-alpine
    depends_on:
      - mybb
    logging:
      driver: syslog
      options:
        tag: "{{.DaemonName}}(image={{.ImageName}};name={{.Name}};id={{.ID}})"
    networks:
      - frontend
    ports:
      - '8080:80'
    volumes:
      - ${PWD}/nginx:/etc/nginx/conf.d:ro
      - ${PWD}/mybb:/var/www/html:ro

  mybb:
    build: php7.1/fpm
    depends_on:
      - memcached
      - postgresql
    logging:
      driver: syslog
      options:
        tag: "{{.DaemonName}}(image={{.ImageName}};name={{.Name}};id={{.ID}})"
    networks:
      - frontend
      - backend
    volumes:
      - ${PWD}/mybb:/var/www/html

  postgresql:
    image: postgres:10.0-alpine
    environment:
      POSTGRES_DB: mybb
      POSTGRES_USER: mybb
      POSTGRES_PASSWORD: changeme
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 30s
      timeout: 30s
      retries: 3
    logging:
      driver: syslog
      options:
        tag: "{{.DaemonName}}(image={{.ImageName}};name={{.Name}};id={{.ID}})"
    networks:
      - backend
    volumes:
      - ${PWD}/postgres/data:/var/lib/postgresql/data

  memcached:
    image: memcached:1.5.3-alpine
    logging:
      driver: syslog
      options:
        tag: "{{.DaemonName}}(image={{.ImageName}};name={{.Name}};id={{.ID}})"
    networks:
      - backend

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge
